<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    
    <!-- modify -->
    <title>Title</title>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#33ffcc"/>
    <!-- /manifest -->
</head>
<body>
    
    <h1>it works.</h1>

    <!-- load service worker -->
    <script src="app.js"></script>
    <!-- /load service worker -->
</body>
</html>